/* NSV colors
@bg: #FFF3CA;
@shadow: #888;
@header-bg-left: rgb(165,91,0) + #111;
@header-bg-right: rgb(214,119,0);
@nice-background: #EDE4D4;

@nav-bg-bottom: #FFD22F;
@nav-bg-top: #FFEC65;
@nav-color: #686765;
*/

//http://colorschemedesigner.com/#0F31Tw0kIw0w0
@links: #7C521F;
@headings: inherit;

@import "../../bootstrap-src/less/bootstrap.less";
@import "../../bootstrap-src/less/responsive.less";

@bg: lighten(#D29E5F, 30%);
@shadow: #888;

@header-bg-left: #D28B35;
@header-bg-right: lighten(@header-bg-left, 5%);

@gradient1: #D28B35;
@gradient2: darken(@gradient1, 8%);

@nice-background: lighten(#D29E5F, 30%);

@nav-bg-bottom: #FFD22F;
@nav-bg-top: #FFEC65;
@nav-color: #686765;




@import "layout.less";
@import "type.less";

